body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

.clearfix {
  clear: both;
}

.container {
  width: 1136px;
  margin: 0 auto;
}

.content {
  width: 880px;
  float: right;
  background: #5a6368;
}

/* ASIDE */
aside.mainmenu {
  width: 256px;
  float: left;
  position:fixed;
}

.logoImg {
  margin: 20px 0 0 30px;
}

.asideMenu2 {
  margin-left: 30px;
}
.asideMenu2 li a {
  text-decoration: none;
  color: #5a6368;
  font-size: 12px;
}

.menu-img {
  float: left;
  margin-top: -5px;
  display: none;
}

.orange {
  color: #fc7f01 !important;
}

.red {
  color: #fe020f !important;
}

.blue {
  color: #00a1fc !important;
}

.redd {
  color: #000000 !important;
}

.purple {
  color: #8304cf !important;
}

.green {
  color: #07ce03 !important;
}

.orange,
.red,
.blue,
.green,
.redd,
.purple {
  font-weight: bold;
  font-size: 14px !important;
  text-transform: uppercase;
  margin: 46px 0 2px 0 !important;
  display: inline-block;
}

/* CONTENT */
.menu {
  float: right;
  margin-top: 26px;
  margin-right: 25px;
}
.menu li {
  float: left;
  margin-left: 25px;
}
.menu li input {
  outline: 0;
  border: 0;
  padding: 7px 10px 6px 25px;
  color: gray;
  background: white url("../images/icon1.jpg") no-repeat 10px 11px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -8px !important;
}
.menu li span {
  background: #fde700;
  padding: 5px 10px;
}
.menu li span a {
  color: #000;
  font-size: 15px;
}
.menu li span a:hover, .menu li span a:active {
  color: #000;
}
.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.menu li a:hover, .menu li a:active {
  color: #fde700;
}

.quote {
  color: #fde700;
  margin-left: 35px;
  font-size: 14px;
}
.quote span {
  font-style: italic;
  font-size: 16px;
}

.showingBlock {
  float: left;
  margin: 0 25px 0 35px;
}

.showing {
  position: relative;
  float: left;
}

.evTitle {
  color: #fefefc;
  text-transform: uppercase;
  margin: 21px 0 19px 0;
  font-size: 31px;
}

.caption {
  width: 412px;
  background: rgba(42, 47, 50, 0.6);
  position: absolute;
  bottom: 5px;
  margin: 0 0 0 26px;
}
.caption h3 {
  color: #fefefc;
  text-transform: uppercase;
  margin: 0 0 0  20px;
  font-size: 31px;
}
.caption h5 {
  color: #fde700;
  margin: 0 0 0  20px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: normal;
}
.caption p {
  color: #f1f3f2;
  margin: 10px 0 20px  20px;
  font-size: 13px;
}

.calBlock {
  float: left;
}

.eventBox {
  float: left;
  position: relative;
}

/* SLIDER */
.caption0 {
  position: absolute;
  bottom: 0px;
  padding-bottom:30px;
  width: 100%;
  background-color: rgba(42,47, 50,0.6);
}
.caption0 h1 {
  color: #fefefc;
  text-transform: uppercase;
  margin: 0px 0 18px  20px;
  font-size: 50px;
  text-align: center;
}
.caption0 p {
  color: #fde700;
  margin: 0px 0 0px 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.sliderBtn {
  background: #ffe500;
  padding: 5px 10px;
  margin: 0 auto;
  display: table;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.carousel1 .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 80% !important;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.carousel1 .bx-wrapper .bx-prev {
  left: 20px;
  background: url(../images/controls.png) no-repeat 0 -32px;
}

.sponsors .bx-wrapper .bx-prev {
  left: 0px;
  background: url(../images/controls.png) no-repeat 0 -32px;
}

/* SPONSORS */
.sponsors {
  background: #f5f5f5;
  padding: 30px 0 50px 12px;
}

.bxslider2 {
  margin-bottom: 30px;
}
.bxslider2 li img {
  margin: 0 auto;
  display: table;
}

.bxslider3 {
  margin-left: 10px;
}

.caption2 {
  width: 100%;
  position: absolute;
  bottom: 5px;
  margin: 0;
}
.caption2 h3 {
  color: #fefefc;
  text-transform: uppercase;
  margin: 0 0 0  20px;
  font-size: 31px;
}
.caption2 h5 {
  color: #fde700;
  margin: 0 0 27px 20px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: normal;
}

.carouselList {
  margin: 18px  0 0 35px;
  float: left;
}
.carouselList li {
  margin-right: 25px;
  float: left;
}
.carouselList li:last-child {
  margin-right: 0;
}

/* FEEDS */
.feedsBlock {
  background: #fee600;
  float: left;
  display: block;
  width: 100%;
  margin: 25px 0 0 0;
  padding-bottom: 30px;
}

.feedTitle {
  color: #000;
  margin-left: 35px;
}

.feedsList {
  margin: 0 0 0 35px;
  float: left;
}
.feedsList li {
  float: left;
  width: 320px;
  margin-right: 30px;
}
.feedsList li h5 {
  margin: 0;
  font-size: 16px;
}
.feedsList li p,
ul.inline_tweets_ul li.inline_tweet{
  margin: 0;
  color: #586367;
}
.feedsList li span {
  margin: 0;
  color: #586367;
  font-weight: 600;
  font-size: 13px;
}

/* FOOTER */
.topFooter {
  border-bottom: 4px solid #fefefe;
  margin: 0 auto 30px auto;
  display: table;
  width: 800px;
  padding-bottom: 40px;
}

.topFooterLeft {
  float: left;
}
.topFooterLeft p {
  font-size: 13px;
  margin: 20px 0 0 0;
  color: #ededed;
}
.topFooterLeft .topFooterList {
  margin: 5px 0 0 0;
}
.topFooterLeft .topFooterList li {
  float: left;
}
.topFooterLeft ::-webkit-input-placeholder {
  color: #2f3e47;
}
.topFooterLeft :-moz-placeholder {
  /* Firefox 18- */
  color: #2f3e47;
}
.topFooterLeft ::-moz-placeholder {
  /* Firefox 19+ */
  color: #2f3e47;
}
.topFooterLeft :-ms-input-placeholder {
  color: #2f3e47;
}
.topFooterLeft .topFooterInput {
  background: #e7e7e7;
  border: 1px solid #fff;
  font-family: 'Open Sans', sans-serif;
  color: #2f3e47;
  font-size: 13px;
  margin: 0;
  width: 165px;
  padding: 9px 14px 12px 14px;
  outline: 0;
}
.topFooterLeft .topFooterBtn {
  background: #FFF;
  color: #000;
  padding: 10px 19px 13px 19px;
  border: 0;
  outline: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.topFooterRight {
  float: right;
}
.topFooterRight .topFooterSocial {
  margin: 38px 0px 0 0;
}
.topFooterRight .topFooterSocial li {
  float: left;
  margin-left: 30px;
}

.botFooter {
  width: 600px;
  float: left;
  margin-left: 35px;
}
.botFooter p {
  color: #ededed;
  font-size: 13px;
  margin-bottom: 26px;
  max-width: 400px;
}

.footerList {
  float: left;
  margin: 0 35px 40px 0;
  font-family: 'Lato', sans-serif;
}
.footerList li a {
  text-decoration: none;
  color: #ededed;
}
ul.footerList > li:first-child a {
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 16px;
  display: block;
}

.logo2 {
  float: right;
  margin: 30px 45px 0 0;
}

/* =================
PAGE 2
===================*/
.filmsBlock {
  background: url("../images/bg.jpg") repeat;
  float: left;
  width: 100%;
}
.filmsBlock aside {
  float: right;
  background: #000;
  margin: 16px 23px 0 0;
  padding-bottom: 42px;
}
.filmsBlock aside h5 {
  color: #fff;
  margin: 25px 0 0 28px;
  font-size: 15px;
}
.filmsBlock aside .calendarBox {
  width: 200px;
  margin: 0 auto;
}
.filmsBlock aside .calendarBox h5 {
  margin: 0 0 15px 0;
}
.filmsBlock aside .calendarBox img {
  width: 100%;
}
.filmsBlock aside .festSelect {
  background: black url("../images/arrow.png") no-repeat top 11px right 0px;
  color: #fff;
  border: 0;
  width: 188px;
  padding: 6px 0;
  outline: 0;
  margin: 0 0 26px 23px;
  display: table;
  border-bottom: 1px solid #fff;
}

.headerSection img {
  float: left;
  margin: -50px 0 15px 23px;
}
.headerSection h4 {
  float: right;
  color: #fff;
  font-size: 31px;
  font-weight: bold;
  margin: 19px 25px 0 0;
}

.navBlock {
  margin: 0 auto;
  display: table;
  border: 2px solid #fff;
  border-left: 0;
  border-right: 0;
  min-width: 830px;
}

.nav {
  margin: 11px auto 13px auto;
  display: table;
}
.nav li {
  float: left;
}
.nav li a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
.nav li a:hover {
  color: #fde700;
}

.header-bg {
  background: url("../images/header-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 15px;
  margin-bottom: -16px;
}

.slider1 .caption0 h1 {
  background: #fff;
  color: #000;
  margin-left: 0;
}

.header-bg2 {
  background: #000;
  padding-bottom: 15px;
  margin-bottom: -16px;
}
.headerSection img {
  float: left;
  margin: -20px 0 25px 23px;
}
.header-bgstanley {
  background: #000000;
  padding-bottom: 15px;
  margin-bottom: -16px;
}

.filmsBox {
  width: 600px;
  float: left;
}

.filmsList {
  margin-left: 34px;
}
.filmsList li {
  width: 260px;
  float: left;
  margin-right: 23px;
  margin-bottom: 24px;
}
.filmsList li a {
  color: #ffe600;
  text-decoration: none;
  margin: 6px 0 0 0;
}

.festList li {
  width: 212px;
  float: left;
  margin: 0 0 21px 23px;
  background: #fff;
  padding: 0 24px;
}
.festList li .festDate {
  color: #596367;
  margin: 16px 0 11px 0;
  font-weight: 600;
}
.festList li h5 {
  margin: 0;
  font-weight: bold;
  color: #000;
  font-size: 18px;
  padding-bottom: 12px;
  border-bottom: 5px solid #596367;
}
.festList li p {
  font-size: 14px;
}

.festBtn {
  margin: 0;
  padding: 0;
  float: right;
  text-transform: uppercase;
  color: #000;
  background: #ffe600;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  padding: 4px 25px 5px 25px;
  margin: 28px 23px 0 0;
}

.festTitle {
  float: left;
  margin-left: 34px;
  margin-bottom: 17px;
}

/* TESTS */
.filmFinder ul li.current a {
  background: url(../images/arrow-7x10-bt-blue.png) no-repeat right 7px;
}

.filmFinder div.siffter {
  border-bottom: 1px solid #5b5b5b;
  border-top: 1px solid #5b5b5b;
  padding: 10px 0 0 0;
}

.filmFinder div.siffter h5 a {
  background: url(../images/arrow-7x10-rt-blue.png) no-repeat right 5px;
  color: #fff;
  display: block;
}

.filmFinder div.siffter h5 a:hover,
.filmFinder div.siffter h5 a:focus {
  color: #ffe600;
  text-decoration: none;
}

.filmFinder ul.browse {
  margin-left: 28px;
}

.filmFinder ul.browse > li {
  border-bottom: 2px solid #fff;
  margin-right: 22px;
  padding-bottom: 3px;
  margin-bottom: 30px;
}

.filmFinder ul.browse > li a {
  background: url(../images/arrow-7x10-bt-blue.png) no-repeat top 10px left 0px;
  color: #fff;
  display: block;
  padding: 3px 0 3px 20px;
  text-decoration: none;
}

.filmFinder ul.browse li.open > a {
  background: url(../images/arrow-7x10-tp-blue.png) no-repeat top 10px left 0px;
}

.filmFinder ul.browse div.scroll {
  background: #fff;
  display: none;
  height: 120px;
  margin: 5px 0 5px 1px;
  padding: 10px 0;
  overflow: auto;
  width: 205px;
  -moz-box-shadow: 1px 2px 5px #000;
  -webkit-box-shadow: 1px 2px 5px #000;
  box-shadow: 1px 2px 5px #000;
}

.filmFinder ul.browse div.scroll .mCSB_container {
  width: 220px;
}

.filmFinder ul.browse div.scroll ul {
  margin: 0;
}

.filmFinder ul.browse li ul li a {
  background: #fff;
  color: #000;
  display: block;
  padding: 4px 20px 4px 10px;
}

.filmFinder ul.browse ul li a:hover,
.filmFinder ul.browse ul li a:focus {
  background: #ffe600;
}

.mysiffSelector .remove {
  display: none;
}

.mysiffSelector.selected .add {
  display: none;
}

.mysiffSelector.selected .remove {
  display: block;
}

/* ======================
===========JOIN==========
========================= */
.joinTitle {
  color: #fff;
  margin: 21px 0 0px 35px;
  font-size: 31px;
}

.joinSubtitle {
  color: #f2f2f2;
  font-size: 18px;
  font-size: bold;
  margin: 17px 0 0 35px;
}
.joinSubtitle span {
  font-style: italic;
}
.joinSubtitle a {
  color: #ffe600;
  text-decoration: none;
}
.joinSubtitle a:hover {
  text-decoration: underline;
  color: #ffe600;
}

.joinList {
  width: 510px;
  margin-left: 33px;
  float: left;
}
.joinList h5 {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.joinList .joinsubTxt {
  color: #ffe600;
  text-align: right;
  font-size: 13px;
  margin: 0;
  width: 100%;
  font-style: italic;
}
.joinList li {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 8px;
}
.joinList li .joinlistLeft {
  float: left;
  width: 212px;
  margin-right: 17px;
}
.joinList li .joinlistLeft p {
  text-align: right;
  margin: 0;
  font-size: 18px;
  color: #fff;
}
.joinList li .joinlistRight {
  width: 280px;
  float: right;
}
.joinList li .joinlistRight .joinSubtitle1 {
  color: #ffe600;
  text-align: center;
  font-size: 13px;
  margin: 0;
  width: 100%;
  font-style: italic;
}
.joinList li:nth-child(2) {
  margin-top: 12px;
}

.btn-cart {
  background: #ffe500;
  padding: 5px 0px;
  margin-top: 12px;
  width: 200px;
  float: left;
  text-align: center;
  text-decoration: none;
  color: #000;
}
/*
textarea {
  min-height: 100px;
  width: 260px;
  max-width: 260px;
  min-width: 260px;
  background: #d7d7d7;
  border: 0;
  float: left;
  padding: 7px 10px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

*/.input-join {
  background: #d7d7d7;
  padding: 7px 10px;
  width: 260px;
  border: 0;
  font-family: 'Open Sans', sans-serif;
}

/* ======================
============FAQ==========
========================= */
#faq-dd,
#faq-dd ul,
#faq-dd li,
#faq-dd a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  position: relative;
}

#faq-dd {
  width: 95%;
  margin: 0 2.5%;
}

#faq-dd a {
  line-height: 1.3;
}

#faq-dd > ul > li {
  border-bottom: 1px solid #000000;
}

#faq-dd > ul > li > a {
  font-size: .9em;
  display: block;
  color: #ffffff;
}

#faq-dd > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#faq-dd > ul > li > a:hover {
  text-decoration: none;
}

#faq-dd > ul > li.active {
  border-bottom: none;
}

#faq-dd > ul > li.has-sub > a span {
  background: url(../images/arrow1.png) 99% center no-repeat;
}

#faq-dd > ul > li.has-sub.active > a span {
  background: url(../images/arrow2.png) 99% center no-repeat;
}

#faq-dd ul ul {
  display: none;
  background: url(../images/arrow3.png) left 85px top 0px no-repeat;
  padding-top: 14px;
  margin-top: 14px;
}

#faq-dd ul ul li {
  padding: 0;
  background: #414d51;
  font-size: 15px;
  color: #fff;
  padding: 18px 15px;
}

#faq-dd ul ul li:last-child {
  border-bottom: none;
}

/* RESPONSIVE */
@media (max-width: 1153px) {
  aside {
    width: 100%;
    display: none;
  }

  .filmsBlock {
    padding-bottom: 50px;
  }

  .filmsBlock aside {
    display: block;
    width: auto !important;
    padding-right: 20px;
  }

  .menu {
    float: left;
  }
  .menu input {
    float: left;
    padding-right: 50px !important;
  }

  .menu-img {
    display: block;
    float: right;
    margin-top: -5px;
    margin-left: 15px !important;
  }

  .headerSection img {
    width: 150px;
    margin-top: 3px !important;
  }

  .asideMenu2 {
    margin-left: 15px;
  }

  .orange, .red, .blue, .green, .redd, .purple {
    margin-top: 12px !important;
  }

  .asideMenu {
    margin-bottom: 20px !important;
    float: left;
  }

  .asideMenu li {
    width: 225px !important;
  }

  .logoImg {
    float: left;
  }

  .asideMenu {
    margin: 0;
  }
  .asideMenu li {
    width: 300px;
    float: left;
  }

  .container {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .menu li input {
    margin-top: -4px !important;
  }

  .slider img {
    width: 100%;
  }
}
@media (max-width: 795px) {
  .menu li {
    margin-bottom: 15px;
  }

  .menu-img {
    display: block;
    float: right;
    margin: -3px 0 0 5px;
  }
}
@media (max-width: 870px) {
  .filmsBlock aside {
    float: none;
    margin: 0 auto;
    display: table;
  }

  .filmsBox {
    margin: 0 auto;
    display: table;
    float: none;
  }

  .navBlock {
    min-width: 100% !important;
  }

  .festList li {
    width: auto !important;
    float: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 23px 21px 23px;
  }
}
@media (max-width: 875px) {
  .showingBlock,
  .calBlock,
  .carouselList,
  .showing {
    float: none;
    margin: 0 auto;
    display: table;
  }

  .carouselList li {
    margin-right: 0;
  }

  .evTitle {
    text-align: center;
  }

  .feedTitle {
    text-align: left;
    margin-left: 10px;
  }

  .carouselList li {
    float: none;
    margin-top: 30px;
    display: table;
  }

  .footerList {
    margin-left: 20px;
    margin-right: 10px;
  }

  .topFooter {
    width: 100%;
  }

  .topFooterLeft {
    margin-left: 20px;
  }

  .topFooterRight {
    margin-right: 20px;
  }

  .logo2 {
    display: none;
  }

  .caption0 h1 {
    font-size: 35px;
  }
}
@media (max-width: 751px) {
  .feedsList li {
    margin-bottom: 30px;
  }

  .caption0 p {
    margin-top: 80px;
  }

  .caption0 h1 {
    font-size: 20px;
  }

  .botFooter {
    width: 100%;
    margin: 0;
  }
  .botFooter p {
    margin-left: 20px;
  }

  .feedsList {
    margin-left: 10px;
  }

  .feedsList li {
    width: 280px;
  }

  .showingBlock,
  .eventsBlock {
    width: 100%;
  }

  .showing img,
  .showing .caption {
    width: 100%;
    margin: 0;
  }

  .menu {
    float: left;
  }
  .menu input {
    float: left;
    padding-right: 50px !important;
  }
}
@media (max-width: 718px) {
  .menu li {
    margin-bottom: 15px;
    margin-left: 10px;
  }
}
@media (max-width: 536px) {
  .topFooterLeft,
  .topFooterRight {
    float: none;
    margin: 0 auto;
    display: table;
  }

  .footerList {
    float: none;
    width: auto !important;
    width: 100%;
    margin: 0px 0 30px 20px;
  }

  .footerList li:first-child a {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .caption0 p {
    margin-top: 30px;
  }

  .caption0 h1 {
    margin-top: 0px;
  }

  .topFooterList li {
    margin-right: 20px;
  }

}
@media (max-width: 320px) {
	  .nav li {
	width: 50%;
  	margin:0;
  }

  .nav li a {
	margin-left:0;
  	margin-right: 0;
  	display:inline-block;
	}

	ul.menu li {
		width: 40%;
		display:inline-block;
		padding-right: 0;
  	}
  	ul.menu li.burger {
		position: absolute;
  	}
	ul.menu li a {
	margin-left:0;
  	margin-right: 0;
  	display:inline-block;
	}
}
@media (max-width: 635px) {
  .filmsBox {
    width: 100%;
  }

  .filmsList {
    margin: 0 auto !important;
    float: none;
    display: table;
    width: 285px;
  }

  .festTitle {
    float: none;
  }

  .festBtn {
    margin: 0 auto 20px auto;
    display: table;
    float: none;
  }

  .header-bg2 .headerSection img,
  .header-bgstanley .headerSection img,
  .header-bg .headerSection img,
  .header-` .headerSection img,
  .header-bgfilm .headerSection img {
    float: none;
    margin: 0 auto 30px auto;
    display: table;
  }

  .headerSection h4 {
    text-align: center;
    clear: both;
    margin: 0 auto 30px auto;
    display: table;
    float: none;
  }
}
@media (max-width: 768px) {
  .bxslider3 li {
    width: 225px !important;
  }
  .bxslider3 .caption2 h3 {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .bxslider3 {
    margin-left: 30px;
  }
  .bxslider3 li {
    width: 320px !important;
  }
  .bxslider3 .caption2 h3 {
    font-size: 25px;
  }
}
@media (max-width: 404px) {
  .menu {
    float: left;
  }
  .menu input {
    float: left;
    padding-right: 0px !important;
    margin-top: 0px !important;
  }
}
@media (max-width: 570px) {
  .joinList {
    width: 95%;
    margin: 0 2.5% 40px 2.5%;
  }
  .joinList li .joinlistLeft,
  .joinList li .joinlistRight {
    width: 100%;
    float: none;
  }
  .joinList li .joinlistLeft p {
    text-align: left;
  }
  .joinList li .joinlistRight .joinSubtitle1 {
    text-align: left;
  }
  .joinList .joinsubTxt {
    text-align: left;
  }
  .joinList h5 {
    text-align: left;
  }

  .joinSubtitle {
    margin-bottom: 30px;
  }

  .joinSubtitle,
  .joinTitle {
    margin-left: 2.5%;
  }
}
