/* Custom Styles */
body, #page-content-title .title-description { font-family:'Arial'; }
body { font-size:14px; }
h1, h2, h3, h4, h5, h6, #slogan, .single-post-categories { font-family:'Arial'; }
#top-elements { height:110px; }
#logo h1 a, #logo .site-name a { background:transparent url( ../style1/images/logo.png ) no-repeat 0 100%; width:175px; height:108px; }
#slogan {
    top:100px;
    left:0px;
}
#slogan { font-size:12px; }
.js_on .cufon-on #slogan { font-size:14px; }
#navigation-menu { font-family:'Arial'; }
#navigation-menu { font-size:14px; }
h1 {font-size:1.883em !important; }
h2 {font-size:1.667em !important; }
h3 {font-size:1.5em !important; }
h4 {font-size:1.333em !important; }
h5 {font-size:1.25em !important; }
h6 {font-size:1.083em !important; }
.js_on .cufon-on h1 {font-size:2.3em !important; }
.js_on .cufon-on h2 {font-size:2.18em !important; }
.js_on .cufon-on h3 {font-size:1.883em !important; }
.js_on .cufon-on h4 {font-size:1.667em !important; }
.js_on .cufon-on h5 {font-size:1.5em !important; }
.js_on .cufon-on h6 {font-size:1.333em !important; }


#page-content-title #page-title h1,
#page-content-title #page-title h2,
#page-content-title #page-title h3,
#page-content-title #page-title .single-post-categories {font-size:1.883em !important;}

.js_on .cufon-on #page-content-title #page-title h1,
.js_on .cufon-on #page-content-title #page-title h2,
.js_on .cufon-on #page-content-title #page-title h3,
.js_on .cufon-on #page-content-title #page-title .single-post-categories {font-size:2.3em !important;}

.post-top h1, .post-top h2, .post-top h3 {font-size:1.5em !important; }
.js_on .cufon-on .post-top h1, .js_on .cufon-on .post-top h2, .post-top h3 {font-size:1.883em !important; }

#sidebarSubnav h3 {font-size:1.25em !important; }
.js_on .cufon-on #sidebarSubnav h3 {font-size:1.5em !important; }

.portfolio-items-wrapper h2 {font-size:1.333em !important; }
.js_on .cufon-on .portfolio-items-wrapper h2 {font-size:1.667em !important; }
h2.portfolio-single-column {font-size:1.667em !important; }
.js_on .cufon-on h2.portfolio-single-column {font-size:2.18em !important; }

h3.bottom-col-title {font-size:1.35em !important; }
.js_on .cufon-on h3.bottom-col-title {font-size:1.6947em !important; }

#gs-header #header-content { width:940px; }
#c2-slider .slide-desc h2, #c2-slider .slide-desc { color:#333333; }
#c2-slider .slide-desc h2 { font-size:1.8em !important; font-family:'Arial'; line-height:1.7; }
#c2-slider .slide-desc p, #c2-slider .slide-desc ul { font-size:1.2em; line-height:1.7; }
#c3-slider .sliding-text { color:#FFFFFF; font-size:1.2em; line-height:1.7; }


    #navigation-menu ul.sf-menu { float:right; }


@media screen and (min-width: 720px) {
    .u-design-fixed-menu-on.fixed-menu #top-wrapper { background-color:#FBFBFB; }
}
